body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
 body::-webkit-scrollbar{
    display: none;
} 
#first-article,#two,#there,#four,#five,#six,#seven{
transition: background 0.3s linear;
-webkit-transition-duration: .2s;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
hr{
    opacity: .4;
    z-index: 2;
}
.break{
    font-size: 184px;
    margin-top: -15px;
}
:root{
--secondy-color:#ffb400;
}
main{
    height: 100vh;
    display: flex;
}
nav{
    width: 200px;
    background-color: #000000;
    scroll-behavior: auto; /*Scoll move*/
    position: fixed;
    height: 100vh;  
    z-index: 1; 
}
.logo{
    padding: 30px;
}
.nav-link-li{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #8b8787;
    width: 75%;
    padding-bottom: 15px;
}
.nav-link-li a{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}
.nav-link-li a:hover{
    color: var(--secondy-color);
    font-weight: 400;
}
#about{
color: var(--secondy-color);
font-weight: 400;
}
.nav-icon{
    text-align: center;
    margin-top: 50px;
}
.nav-icon i{
    padding: 10px;

}
.nav-icon a{
    display: inline-block;
}
.copy-right{
    margin-top: 140px;
    text-align: center;
    line-height: 25px;
}
.copy-right p{
    color: #fff;
    font-size: 12px;
    opacity: .6;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}
section{
    display: flex;
}
.article-section{
    width: 800px;
    height: 100vh;
}
.article-section-first{
    background-image: url("../img/article-first-img.jpg");
    background-size: fill;
    background-repeat: no-repeat;
    margin-left: 100px;
}
.header-text{
    margin-top: 55%;
    margin-left: 20%;
    text-transform:uppercase;
    color: #fff;
}
.header-text h1{
    font-size: 45px;
    line-height: 40px;
}
.article-section-text{
    width: 45%;
    font-size: 18px;
    line-height: 30px;
    color: #b9b0b0;
    border-top: 1px solid #7a7a7a;
    border-bottom:1px solid  #7a7a7a;
    text-align: center;
}
.article-section-second{
    background-image: url("../img/article-second-bg.png");
    background-size: fill;
    background-repeat: no-repeat;
}
.article-second-info{
    padding:40px 20px;
    height: 80vh;
    margin-left: 100px;
}
.article-second-header h1{
font-size:45px;
font-weight: 400;
text-transform: uppercase;
}
.title-divider{
    width: 60px;
    height: 5px;
    background-color: #ffb400;
    margin-top: -40px;
}
.article-second-text{
    margin-top: 40px;
    width: 65%;
    text-transform: capitalize;
}
.article-second-text p{
    padding: 0 0 12px 0;
    border-bottom: 1px solid #dfdfdf;
}
.article-second-link{
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
}
.article-second-profile{
    width: 60%;
}
.article-second-profile h2{
    font-size: 18px;
    margin-top: 25px;
}
.article-second-profile p{
    font-size: 14px;
    line-height: 25px;
    width: 80%;
}
.btn-article-second{
border: 2px solid #ffb400;
padding: 12px;
width: 70%;
}
.btn-article-second-link{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family:'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing:2px;
}
.btn-article-second-link:hover ,.btn-article-second:hover {
    background-color: #ffb400;
    color: #fff;
}
.article-second-sing{
    margin-top: 50px;
}

.article-section-third{
    scroll-behavior:smooth;
    overflow: scroll;
    background: #e5e5e5;

}
.article-section-third::-webkit-scrollbar{
    width: 5px;
}
.skills-details{
    display: flex;
    border: 1px solid black;
    padding:5px;
    border-bottom: 5px solid black;
    border-radius:0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 25px;
    background: #fff;
}
.persent-full{
    background-color: rgb(212, 199, 199);
    margin-left: 70px;
    width: 280px;
    height: 20px;
    margin-top: 20px;
    border-radius:25px;
    margin-left: 85px;
}
.persent{
background-color: rgb(45, 45, 48);
color: #fff;
text-align: center;
border-radius:25px;
}
.persent-header{
margin-top: -4px;
}
.persent-text{
    margin-top: -16px;
}
.persent-fi{
    margin-left: 145px;
}
.persent-sc{
    margin-left: 145px;
}

.persent-fo{
    margin-left: 145px;
}
.persent-70{
    width: 70%;
}
.persent-88{
    width: 88%;
}
.persent-90{
    width: 90%;
}
.persent-40{
    width: 40%;
}
.language-skills{
    display: flex;
}
.language-skills h1{
font-size: 32px;
}
.language-persent{
    margin-left: 120px;
    height: 50px;
    margin-top: 20px;
}
.persent-lang{
    width: 400px;
    height: 4px;
    background-color: #e6dede;
}
.persent-tu{
    width: 99%;
    height: 4px;
    background-color: #3d3a3a;
}
.persent-en{
    width: 80%;
    height: 4px;
    background-color: #3d3a3a;
}
.persent-ru{
    width: 60%;
    height: 4px;
    background-color: #3d3a3a;
}
.title-divider-lang{
    margin-top: 10px;
    width: 60px;
    height: 5px;
    background-color: #ffb400;
}
.article-section-four{
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 40px;
}
.article-section-four::-webkit-scrollbar{
    width: 5px;
}
.article-fo-head{
    font-size: 48px;
    margin-bottom: -15px;
}
.article-fo-head-2{
    font-size: 16px;
    margin-top: 20px;
}
.article-fo-text{
    margin: 30px 120px 50px 0;
    line-height: 30px;
    font-size: 14px;
}
.article-fo-sub-section , .article-fo-sub-section-left{
    display: flex;
}
.article-fo-info{
    font-size: 18px;
    width: 150px;
    
}
.article-fo-info h2, .article-fo-info h1{
    font-size: 15px;
}
.iconic{
    margin-top: 50px;
    font-size:px;
    
}
.article-fo-info-h1,.article-fo-info-h2{
margin-top: -15px;

}
.article-fo-sub-section-right{
    width: 50%;
    margin-left: 80px;
}
.article-section-debug{
    width: 800px;
    height: 91.5vh;
}
.article-fi{
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 40px;
}
.article-fi::-webkit-scrollbar{
    width: 5px;
}
.fi-info h1{
    font-size: 36px;
    margin-bottom: -10px;
}
.fi-info h2{
    font-size: 16px;
}
.fi-info p{
    width: 90%;
    line-height: 22px;
    font-size: 14px;
}

.icon-side ,.details-box{
    display: flex;
    margin-top: 30px;
}
.icon{
    font-size: 25px;
    padding-top: 30px;
}
.icon-text{
    margin-left: 15px;

}
.icon-text h1 ,.icon-text h2{
    font-size: 16px;
    margin-top: -5px;
}
.info-side{
    width: 40%;
    margin-left: 150px;
    font-size: 14px;
    line-height:25px;
    opacity: .6;
}
.m-t{
    margin-top: 50px;
}
.images-side{
    position: relative;
}
.img{
    margin-top: 40px;
    width: 100%;
    margin-left: -5px;
}
.img-img{
    width: 100%;
}
figcaption{
position: absolute;
text-align: center;
background-color: #ffb400;
bottom: 4px;
padding:10px;
border-radius:5px;
width: 97.9%;
margin-left: -1px;
cursor: pointer;
}
figcaption img{
    width: 50px;
    height: 50px;
    margin-bottom: -25px;
}

.gray-bg{
background-color: #E5E5E5;
}
.addres ,.location{
    display: flex;
}
.addres , .fix-hr{
    margin-top: 35px;
}
.left-adress{
    width: 300px;
}
.right-adress{
width: 60%;
padding: 0 20px 20px 20px;
text-align: center;
}
.icon-adress{

    padding: 20px;
}
.icon-adress i{
    margin-top: 15px;
}
.adress-detail h2{
    font-size: 18px;
    margin-bottom: -5px;
    margin-top: -5px;
}
.adress-detail a{
    text-decoration: none;
    color: black;
    margin-top: 15px;
    display: inline-block;
}
.right-side-icon{
    padding: 15px;

}
.right-side-icon a{
    display: inline-block;
    margin-left:12%;
    margin-top: 25px;
}
.map{

    text-align: center;
    margin-top: 15px;
}